Reactivity/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
.vs/VSWorkspaceState.json
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.AssemblyInfoInputs.cache
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.assets.cache
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.csproj.AssemblyReference.cache
.vs/slnx.sqlite
.vs/Reactivities/v16/.suo
ApplicationLayer/bin/Debug/net5.0/ApplicationLayer.dll
ApplicationLayer/bin/Debug/net5.0/ApplicationLayer.pdb
ApplicationLayer/bin/Debug/net5.0/ApplicationLayer.runtimeconfig.dev.json
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.csproj.CopyComplete
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.csproj.FileListAbsolute.txt
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.dll
ApplicationLayer/bin/Debug/net5.0/DomainLayer.dll
ApplicationLayer/bin/Debug/net5.0/PersistenceLayer.dll
ApplicationLayer/obj/ApplicationLayer.csproj.nuget.g.props
ApplicationLayer/obj/project.nuget.cache
DomainLayer/obj/Debug/net5.0/ref/DomainLayer.dll
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.GeneratedMSBuildEditorConfig.editorconfig
ApplicationLayer/obj/Debug/net5.0/ref/ApplicationLayer.dll
ApplicationLayer/obj/Debug/net5.0/refint/ApplicationLayer.dll
ApplicationLayer/obj/Release/net5.0/ApplicationLayer.GeneratedMSBuildEditorConfig.editorconfig
DomainLayer/bin/Debug/net5.0/DomainLayer.dll
DomainLayer/obj/DomainLayer.csproj.nuget.g.props
DomainLayer/bin/Debug/net5.0/ref/DomainLayer.dll
DomainLayer/obj/Debug/net5.0/DomainLayer.dll
DomainLayer/obj/Debug/net5.0/DomainLayer.GeneratedMSBuildEditorConfig.editorconfig
DomainLayer/obj/Debug/net5.0/refint/DomainLayer.dll
DomainLayer/obj/Debug/net5.0/DomainLayer.genruntimeconfig.cache
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.csproj.CoreCompileInputs.cache
DomainLayer/obj/Release/net5.0/DomainLayer.GeneratedMSBuildEditorConfig.editorconfig
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.dll
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.GeneratedMSBuildEditorConfig.editorconfig
PersistenceLayer/obj/Debug/net5.0/refint/PersistenceLayer.dll
PersistenceLayer/obj/Debug/net5.0/ref/PersistenceLayer.dll
Reactivity/.vs/Reactivity/v16/.suo
Reactivity/bin/Debug/net5.0/ApplicationLayer.dll
Reactivity/.vs/Reactivity/config/applicationhost.config
Reactivity/bin/Debug/net5.0/AutoMapper.dll
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.pdb
ApplicationLayer/bin/Debug/net5.0/PersistenceLayer.pdb
ApplicationLayer/bin/Debug/net5.0/DomainLayer.pdb
DomainLayer/bin/Debug/net5.0/DomainLayer.pdb
DomainLayer/obj/Debug/net5.0/DomainLayer.pdb
PersistenceLayer/bin/Debug/net5.0/DomainLayer.pdb
Reactivity/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
Reactivity/bin/Debug/net5.0/SQLitePCLRaw.core.dll
Reactivity/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
Reactivity/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
Reactivity/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
Reactivity/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Reactivity/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Reactivity/bin/Debug/net5.0/ref/Reactivity.dll
Reactivity/bin/Debug/net5.0/ReactivityAPI.dll
Reactivity/bin/Debug/net5.0/FluentValidation.AspNetCore.dll
Reactivity/bin/Debug/net5.0/FluentValidation.dll
Reactivity/bin/Debug/net5.0/MediatR.dll
Reactivity/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
Reactivity/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
Reactivity/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Reactivity/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
Reactivity/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
Reactivity/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
Reactivity/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
Reactivity/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
Reactivity/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
Reactivity/bin/Debug/net5.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
Reactivity/bin/Debug/net5.0/Humanizer.dll
Reactivity/bin/Debug/net5.0/FluentValidation.DependencyInjectionExtensions.dll
Reactivity/bin/Debug/net5.0/Microsoft.OpenApi.dll
Reactivity/bin/Debug/net5.0/Newtonsoft.Json.dll
Reactivity/bin/Debug/net5.0/PersistenceLayer.dll
Reactivity/bin/Debug/net5.0/DomainLayer.pdb
Reactivity/bin/Debug/net5.0/PersistenceLayer.pdb
Reactivity/bin/Debug/net5.0/DomainLayer.dll
Reactivity/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Reactivity/bin/Debug/net5.0/Reactivity.dll
Reactivity/bin/Debug/net5.0/Reactivity.pdb
Reactivity/bin/Debug/net5.0/Reactivity.exe
Reactivity/bin/Debug/net5.0/ReactivityAPI.exe
Reactivity/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
Reactivity/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
Reactivity/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
Reactivity/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
Reactivity/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Reactivity/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
Reactivity/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
Reactivity/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Reactivity/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
Reactivity/bin/Debug/net5.0/ReactivityAPI.pdb
Reactivity/bin/Debug/net5.0/ApplicationLayer.pdb
Reactivity/.vs/Reactivity/DesignTimeBuild/.dtbcache.v2
Reactivity/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
Reactivity/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
Reactivity/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
Reactivity/obj/project.nuget.cache
Reactivity/obj/Reactivity.csproj.nuget.g.props
Reactivity/obj/ReactivityAPI.csproj.nuget.g.props
Reactivity/obj/Debug/net5.0/apphost.exe
Reactivity/obj/Debug/net5.0/Reactivity.AssemblyInfoInputs.cache
Reactivity/obj/Debug/net5.0/Reactivity.assets.cache
Reactivity/obj/Debug/net5.0/Reactivity.csproj.AssemblyReference.cache
Reactivity/obj/Debug/net5.0/Reactivity.csproj.CopyComplete
Reactivity/obj/Debug/net5.0/Reactivity.csproj.CoreCompileInputs.cache
Reactivity/obj/Debug/net5.0/Reactivity.csproj.FileListAbsolute.txt
ApplicationLayer/obj/Debug/net5.0/ApplicationLayer.genruntimeconfig.cache
DomainLayer/obj/Debug/net5.0/DomainLayer.AssemblyInfoInputs.cache
DomainLayer/obj/Debug/net5.0/DomainLayer.assets.cache
DomainLayer/obj/Debug/net5.0/DomainLayer.csproj.CoreCompileInputs.cache
DomainLayer/obj/Debug/net5.0/DomainLayer.csproj.FileListAbsolute.txt
DomainLayer/obj/Debug/net5.0/DomainLayer.csproj.AssemblyReference.cache
DomainLayer/obj/Release/net5.0/DomainLayer.AssemblyInfoInputs.cache
DomainLayer/obj/Release/net5.0/DomainLayer.assets.cache
PersistenceLayer/bin/Debug/net5.0/DomainLayer.dll
PersistenceLayer/bin/Debug/net5.0/PersistenceLayer.dll
PersistenceLayer/bin/Debug/net5.0/ref/PersistenceLayer.dll
PersistenceLayer/obj/PersistenceLayer.csproj.nuget.g.props
PersistenceLayer/obj/project.nuget.cache
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.AssemblyInfoInputs.cache
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.assets.cache
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.csproj.AssemblyReference.cache
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.csproj.CopyComplete
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.csproj.CoreCompileInputs.cache
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.csproj.FileListAbsolute.txt
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.pdb
PersistenceLayer/obj/Debug/net5.0/PersistenceLayer.genruntimeconfig.cache
PersistenceLayer/obj/Release/net5.0/PersistenceLayer.AssemblyInfoInputs.cache
PersistenceLayer/obj/Release/net5.0/PersistenceLayer.assets.cache
PersistenceLayer/obj/Release/net5.0/PersistenceLayer.GeneratedMSBuildEditorConfig.editorconfig
Reactivity/activity.db
PersistenceLayer/bin/Debug/net5.0/PersistenceLayer.pdb
Reactivity/.vs/slnx.sqlite
Reactivity/obj/Reactivity.csproj.nuget.g.targets
Reactivity/obj/ReactivityAPI.csproj.nuget.g.targets
ApplicationLayer/obj/ApplicationLayer.csproj.nuget.g.targets
ApplicationLayer/obj/Release/net5.0/ApplicationLayer.assets.cache
ApplicationLayer/obj/Release/net5.0/ApplicationLayer.AssemblyInfoInputs.cache
DomainLayer/obj/DomainLayer.csproj.nuget.g.targets
PersistenceLayer/obj/PersistenceLayer.csproj.nuget.g.targets
Reactivity/obj/Debug/net5.0/Reactivity.dll
Reactivity/obj/Debug/net5.0/Reactivity.genruntimeconfig.cache
Reactivity/obj/Debug/net5.0/Reactivity.MvcApplicationPartsAssemblyInfo.cache
Reactivity/obj/Debug/net5.0/Reactivity.GeneratedMSBuildEditorConfig.editorconfig
Reactivity/obj/Debug/net5.0/Reactivity.pdb
Reactivity/obj/Debug/net5.0/Reactivity.RazorTargetAssemblyInfo.cache
Reactivity/obj/Debug/net5.0/ReactivityAPI.AssemblyInfoInputs.cache
Reactivity/obj/Debug/net5.0/ReactivityAPI.assets.cache
Reactivity/obj/Debug/net5.0/ReactivityAPI.csproj.AssemblyReference.cache
Reactivity/obj/Debug/net5.0/ReactivityAPI.csproj.CopyComplete
Reactivity/obj/Debug/net5.0/ReactivityAPI.csproj.CoreCompileInputs.cache
Reactivity/obj/Debug/net5.0/ReactivityAPI.csproj.FileListAbsolute.txt
Reactivity/obj/Debug/net5.0/ReactivityAPI.dll
Reactivity/obj/Debug/net5.0/ReactivityAPI.GeneratedMSBuildEditorConfig.editorconfig
Reactivity/obj/Debug/net5.0/ReactivityAPI.genruntimeconfig.cache
Reactivity/obj/Debug/net5.0/ReactivityAPI.MvcApplicationPartsAssemblyInfo.cache
Reactivity/obj/Debug/net5.0/ReactivityAPI.pdb
Reactivity/obj/Debug/net5.0/ref/Reactivity.dll
Reactivity/obj/Debug/net5.0/ReactivityAPI.RazorTargetAssemblyInfo.cache
Reactivity/obj/Debug/net5.0/ref/ReactivityAPI.dll
Reactivity/obj/Debug/net5.0/refint/ReactivityAPI.dll
Reactivity/obj/Debug/net5.0/staticwebassets/Reactivity.StaticWebAssets.Manifest.cache
Reactivity/obj/Debug/net5.0/staticwebassets/Reactivity.StaticWebAssets.xml
Reactivity/obj/Release/net5.0/ReactivityAPI.GeneratedMSBuildEditorConfig.editorconfig
Reactivity/obj/Release/net5.0/ReactivityAPI.AssemblyInfoInputs.cache
Reactivity/obj/Release/net5.0/ReactivityAPI.assets.cache
Reactivity/obj/Debug/net5.0/staticwebassets/ReactivityAPI.StaticWebAssets.Pack.cache
Reactivity/obj/Debug/net5.0/staticwebassets/ReactivityAPI.StaticWebAssets.Manifest.cache
Reactivity/ReactivityAPI.csproj.user
DomainLayer/obj/project.nuget.cache
